* {
font-family: Arial, sans-serif;
}

ul {
list-style-type: none;
padding: 0;
}

li {
margin-bottom: 10px;
}

button {
background-color: #dc3545;
color: white;
padding: 5px 10px;
border: none;
cursor: pointer;
}

table {
    border-spacing: 20px 0;
}

h2 {
    margin-top: 20px;
    text-align:  left;
    margin-left: 830px;
}

.container_principal {
    display: flex;
    margin-top: 20px;
    justify-content: center;
    margin-bottom: 50px;
}

.container_secundario {
    display: flex;
    flex-direction: row;
    justify-content: center;
    gap: 200px;
}

